:root {
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(160, 174, 192, 1);
    --blue: rgba(26, 95, 255, 1);
    --outfit: "Outfit";
    --opensans: "Open Sans";
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
    font-size: 1.4rem;
    font-family: var(--outfit);
    color: var(--white);
}

.header img{
    width: 20%;margin: 10px 10px 0 0;
}
.header span{
    margin: 0px 0 20px 0;
    align-items: center;
}

.userbtn {
    display: flex;
    flex-direction: row;
    width: 19%;
    gap: 10px;
    justify-content: space-between;
}

.userbtn button{
    padding: 4% 6%;
}