:root {
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(160, 174, 192, 1);
  --blue: rgba(26, 95, 255, 1);
  --outfit: "Outfit";
  --opensans: "Open Sans";
}
.login {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--opensans);
  color: var(--gray);
}
.login img:first-child {
  margin: 3.5% 0 0 3%;
}

.middles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.middles img {
  height: 15%;
}

.forms {
  display: flex;
  flex-direction: column;
  margin-right: 19%;
  margin-top: 9%;
  width: 20%;
}

.forms label {
  font-size: 1.1rem;
  color: var(--white);
  font-family: var(--outfit);
  margin-bottom: 5px;
}

.forms input {
  margin: 8px 0 0px 0;
  padding: 8px 8px;
  align-items: baseline;
  font-size: 0.9rem;
  color: var(--white);
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.forms button {
  border-radius: 10px;
  padding: 10px 8px;
  margin-top: 2%;
}

.forms a {
  color: #1a5fff;
  text-decoration: none;
}
.forms p {
  font-size: 0.8rem;
  text-align: center;
}
.bottomside {
  display: flex;
  margin: 6.5% 0 0 55%;
  position: fixed;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 10px;
}